<h1>Info#index</h1>
<p>Find me in app/views/info/index.html.erb</p>
<<<<<<< HEAD
<p><%= @hasHitSummary.inspect %><br> <%= @steps.inspect %></p>
=======
<p> <%= @output.inspect %></p>
>>>>>>> origin/Create-User-Code-Authenticate
