<div class="container-fluid page">
  <div class="header row">
	<h1 class="header-heading">Patrick's Points</h1>
	</div>
    <div class="container side-collapse-container">
      <div class="row text-center">
        <h1>You Have</h1>
        <h1 class="points"><%=@points.inspect%><strong>pts</strong></h1>
      </div>
    </div>
    <div class="row">
</div>