
<div class="container-fluid page">
    <div class="container side-collapse-container">
      <div class="row text-justify">
			<h1>About Point Tracker</h1>

			<p>Point Tracker uses the stats you get from fitbit and computes them into points. You can then use those points to compete with friends</p>

			<p>By: Luke Becker, Steven Mercier, and Patrick Hutfless</p>
      </div>
    </div>
</div>