  <div class="container side-collapse-container">
    <div class="row name text-center">
      <h1>Add Friends</h1>
      <div class="input-wrap"><input type="text" placeholder="Jimmy" /></div>
    </div>
     <div class="row text-center custyle points">
            <table class="table table-striped custab">
            <thead>
            <div class="text-center"><h3>Users</h3></div>
                <tr style="background: #474747; color: #fafafa;">
                    <th>Name</th>
                    <th>Add Friend</th>
                </tr>
            </thead>
                    <tr>
                        <td>Jimmy</td>
                        <td><a>Add</a></td>
                    </tr>
                    <tr>
                        <td>Tommy</td>
                        <td><a>Add</a></td>
                    </tr>
                    <tr>
                        <td>Jamaal</td>
                        <td><a>Add</a></td>
                    </tr>
            </table>
     </div>
 </div>