<div class="container-fluid page">
    <div class="container side-collapse-container">
      <div class="row text-center">
        <h1>You Have</h1>
        <h1 class="points"><%=@points.inspect%><strong>pts</strong></h1>
      </div>
       <div class="row text-center custyle tasks">
       	 <div class="text-center"><h3>Tasks</h3></div>
            <table class="table table-striped custab">
            <thead>
                <tr class="heads">
                    <th>Task</th>
                    <th>Points</th>
                </tr>
            </thead>
                    <tr>
                        <td>Walk 1000 Steps</td>
                        <td>100pts</td>
                    </tr>
                    <tr>
                        <td>Walk 2000 Steps</td>
                        <td>200pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                    <tr>
                        <td>Walk 3000 steps</td>
                        <td>5,000,000pts</td>
                    </tr>
                     <tr>
                        <td>Sexy As Patrick</td>
                        <td>5,000,000pts</td>
                    </tr>
            </table>
          </div>
    </div>
</div>