<div class="container-fluid page">
    <div class="container side-collapse-container">
      <div class="row text-center">
        <h1>You Have</h1>
        <h1 class="points"><%=@points.inspect%><strong>pts</strong></h1>
      </div>
    <div class="row text-center custyle standings in">
    <table class="table table-striped custab">
    <thead>
    <div class="text-center"><h3>Top 10 Users</h3></div>
        <tr style="background: #474747; color: #fafafa;">
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
            <tr>
            <% @users.each do |user| %>
                    <tr>
                        <td><%= @count %> </td>
                        <td><%= user.name %></td>
                        <td><%= user.points %></td>
                    </tr>
                    <% @count += 1 %>
            <% end %>
    </table>
  </div>
       <div class="row text-center custyle tasks">
       	 <div class="text-center"><h3>Tasks</h3></div>
            <table class="table table-striped custab">
            <thead>
                <tr class="heads">
                    <th>Task</th>
                    <th>Points</th>
                </tr>
            </thead>
                    <tr>
                        <td>Lightly active minutes:</td>
                        <td>1 Mile = 50</td>
						<td>5 Miles = 250</td>
						<td> 10 Miles = 500</td>
                    </tr>
                    <tr>
                        <td>Moderately active minutes:</td>
                        <td>1 Mile = 100</td>
						<td>5 Miles = 500</td>
						<td> 10 Miles = 1000</td>
                    </tr>
                    <tr>
                        <td>Very Active minutes:</td>
                        <td>1 Mile = 200</td>
						<td>5 Miles = 1000</td>
						<td> 10 Miles = 2000</td>
                    </tr>
                    

            </table>
          </div>
    </div>
</div>