<div class="container side-collapse-container">
    <div class="row text-center picture">
    			<div style="margin-top: 40px;"><div class="profile-image"><%= image_tag(@pic) %></div></div>
    </div>
    <div class="row name text-center">
    	<h1><%=@name%></h1>
    </div>
     <div class="row text-left profile">
            <h2>Points: <span class="points"><%=@points %></span></h2>
            <h2 class="standing">Global Standing: <%=@standing %></h2>
     </div>
 </div>