<div class="container side-collapse-container">
    <div class="row text-center picture">
    			<div style="margin-top: 40px;"><div class="profile-image"><%= image_tag(@pic) %></div></div>
    </div>
    <div class="row name text-center">
    	<h1><%=@name%></h1>
    </div>
     <div class="row text-center custyle profile">
            <h2 class="points">Points: <%=@points %></h2>
     </div>
 </div>