<div class="container side-collapse-container">
    <div class="row text-center">
        <h1>Fit-bit Point Tracker</h1>
    </div>
    <div class="row text-center" style="margin-top: 200px">
    	<a href="/auth/fitbit" class="btn btn-success">Login</a>
    </div>
 </div>