<div class="container-fluid page">
    <header role="banner" class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><div class="toggle-tasks-standings"></div>
        </div>
        <div class="navbar-inverse side-collapse in">
          <nav role="navigation" class="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="main-screen.html">Home</a></li>
              <li><a href="patrick-profile.html">Profile</a></li>
              <li><a href="friends.html">Add Friends</a></li>
              <li><a href="#sync">Sync</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container side-collapse-container">
      <div class="row text-center">
        <h1>You Have</h1>
        <h1 class="points">1292<strong>pts</strong></h1>
      </div>
      <div class="row text-center custyle standings in">
            <table class="table table-striped custab">
            <thead>
            <div class="text-center"><h3>Friends Standings</h3></div>
                <tr style="background: #474747; color: #fafafa;">
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
                    <tr>
                        <td>1</td>
                        <td><a href="luke-profile.html">Luke</a></td>
                        <td>1500pts</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Tommy</td>
                        <td>1300pts</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>You</td>
                        <td>1292pts</td>
                    </tr>
            </table>
          </div>
          <div class="row text-center custyle tasks">
            <table class="table table-striped custab">
            <thead>
            <div class="text-center"><h3>Tasks</h3></div>
                <tr style="background: #474747; color: #fafafa;">
                    <th>Task</th>
                    <th>Points</th>
                </tr>
            </thead>
                    <tr>
                        <td>Run 1 Mile</td>
                        <td>100pts</td>
                    </tr>
                    <tr>
                        <td>Run 2 Miles</td>
                        <td>200pts</td>
                    </tr>
                    <tr>
                        <td>Walk 1 Mile</td>
                        <td>50pts</td>
                    </tr>
            </table>
          </div>
        </div>
    </div>
</div>